@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --angelo: #000;
    --branco: #e7ecefff;
    --azul-angelo: #274c77ff;
    --azul-claro: #6096baff;
    --azul-branco: #a3cef1ff;
    --title: "Fjalla One", sans-serif;
    --text: "SUSE Mono", sans-serif;
}
body {
    background-color: var(--azul-branco);
    font-family: var(--text);
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}
main{
    margin-top: 20px;
    max-width: 90%;
    text-align: center;
}
button {
    font-family: var(--title);
    background-color: var(--azul-claro);
    color: var(--angelo);
    border: 1px solid var(--angelo);
    padding: 20px 30px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 7px;
}
button:hover {
    background-color: var(--azul-claro);
    color: var(--angelo);
    transition: 0.5s;
}